canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    background: linear-gradient(30deg, #333, #222);
}

body {
    background-color: #111;
    background-attachment: fixed;
}

container {
    opacity: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(0deg, #444 0%, #222 2% 98%, #444 100%) repeat-y;
    background-size: 2em 2em;
    background-repeat: repeat;
    animation: Container-Idle 1s linear infinite;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

container.nobg {
    background: none;
    animation: none;
    justify-content:flex-start;
    pointer-events: none;
}

sysmsg {
    background-color: #ffc53c;
    padding: 1em;
    font-size: 1em;
    max-width: 40vw;
    width: max-content;
    height: fit-content;
    text-align: center;
    margin-top: 0.5em;
    animation: sysmsg 5.5s ease-in-out infinite;
    transition-duration: 0.25s;
}

@keyframes sysmsg {
    0% {
        translate: 0 -100%;
        opacity: 0;
    }
    10% {
        translate: 0 0%;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

flexcontainer {
    width: 100%;
    display: flex;
    background-color: #60606099;
    margin: 0.3em;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

#ld {
    text-align: center;
}

menu {
    padding-right: 2em;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: max-content;
    max-width: 12vw;
    translate: -90% 0;
    height: 100vh;
    background: #222 ;
    transition-duration: 0.25s;
    justify-content: center;
    display: flex;
    flex-flow: column;
    opacity: 0.25;
    border-right: #55555599 0.3em double;
}

menu button {
    font-size: 2em;
    margin-top: 0.5em;
}

menu * {
    text-align: center;
}

menu p {
    color: #ffffff55;
}

menu:hover {
    opacity: 1;
    translate: 0 0;
    border-right: #55555500 0.3em double;
}

button {
    background-color: #707070aa;
    outline: none;
    border: none;
    cursor:pointer;
    transition-duration: 0.25s;
}

button:hover {
    scale: 1.01 1.01;
    background-color: #707070ff;
}

input {
    background-color: #707070aa;
    outline: none;
    border: none;
    text-emphasis-color: #00000000;
}

input.accountInput {
    background-color: #00000000;
    width: max-content;
}

h1 {
    background-color: #3d3d3d77;
    padding: 1em;
    border-radius: 0.1em;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    user-select: none;
}

html {
    overflow: hidden;
}

@keyframes Container-Idle {
    0% {
        background-position: 0px 0em;
    }
    100% { 
        background-position: 0px 2em;
    }
}

@keyframes Container-Loaded {
    0% {
        scale: 1 1;
    }
    100% {
        scale: 0 1;
    }
}

chat {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    min-height: 5vh;
    height: fit-content;
    max-height: 20vh;
    width: 30vw;
    background-color: #3d3d3d;
    transition-duration: 0.25s;
    opacity: 0.3;
    display: flex;
    flex-flow: column;
}

chat-box {
    display: grid;
    overflow-y: auto;
    gap: 1px;
    margin-bottom: 0.1em;
}

chat:hover {
    opacity: 0.9;
}

chat:focus {
    opacity: 0.9;
}

chat-message {
    width: 100%;
    max-width: inherit;
    min-height: 2vh;
    height: max-content;
    font-size: 2vh;
    background-color: #99999988;
    user-select: all;
    display: flex;
}

chat-input {
    height: 3vh;
    width: 100%;
    background-color: #222;
}

chat-input input {
    width: 99%;
    height: 100%;
    font-size: 100%;
}

flexcontainer.uipanel {
    justify-content: left;
    background: none;
}

flexcontainer.uipanel img {
    image-rendering: pixelated;
    height: 2em;
    width: 2em;
    margin-left: 0.5em;
}

chat-message span {
    margin-right: 0.3em;
}

canvas {
    cursor: none;
}

.hiddentext::before {
    content: "Maciej is a good dev";
}

.hiddentext:hover::before {
    content: "and has a small dick";
}